---
import Layout from "../../layouts/Layout.astro";
import Projects from "../../components/projects/projects";
import Contacts from "../../components/Contacts.astro";
---

<Layout title="Alif Yasa | Resume">
  <h1 class="text-2xl font-semibold mb-4">Resume</h1>
  <Contacts />
  <Projects client:only="solid-js" />
</Layout>
