---
export interface Props {
	title: string;
	link: string | null;
}

const { title, link } = Astro.props;
const relativeLink =
	link === null ? Astro.url.pathname.concat("/", title) : link;
---

<div class="bg-zinc-100 rounded-sm">
	<h2 class="p-8 text-4xl bg-zinc-700">
		<a href={relativeLink} target="_blank" class="hover:underline">
			{title}
			<span
				class="material-symbols-outlined"
				aria-label="Open in New Icon"
			>
				open_in_new
			</span>
		</a>
	</h2>
	<div class="text-xl p-8 text-zinc-700 space-y-4">
		<slot />
	</div>
</div>

<style scoped>
	.material-symbols-outlined {
		font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0,
			"opsz" 48;
	}
</style>
